<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.se2.uanl.edu.contadordecalorias" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>        <activity
            android:name=".PerfilActivity"
            android:label="@string/title_activity_perfil"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cc.se2.uanl.edu.contadordecalorias.MainActivity" />
        </activity>
        <activity
            android:name=".ConsultaActivity"
            android:label="@string/title_activity_consulta"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cc.se2.uanl.edu.contadordecalorias.MainActivity" />
        </activity>
        <activity
            android:name=".ContadorActivity"
            android:label="@string/title_activity_contador"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cc.se2.uanl.edu.contadordecalorias.MainActivity" />
        </activity>
    </application>

</manifest>
